.main-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 52, 52, 0.301);
  z-index: 10;
  border-radius: 15px;
}

.overlay2 {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 16, 113, 0.56);
  z-index: 10;
  border-radius: 15px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transition: opacity 1s ease-in-out;
  background-repeat: no-repeat;
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
.header {
  background: linear-gradient(
    106.7deg,
    rgb(251, 218, 145) -2.6%,
    rgb(251, 134, 145) 31%,
    rgb(251, 158, 145) 45.8%,
    rgb(251, 0, 145) 100.1%
  );
}
