.updated-profile,
.updated-profile img {
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.updated-profile::after {
  content: "";
  position: absolute;
  top: 48.3%;
  transform: translateX(-50%);
  left: 67.9%;
  width: 150px;
  height: 95px;
  background: #1c1c1e;
  border-radius: 150px 150px 20px 20px;
  opacity: 0.4;
  z-index: 50;
  display: none;
  transition: all 3s ease-in-out;
}

.updated-profile .camera-icon {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 67%;
  font-size: 1.5em;
  color: white;
  z-index: 50;
  display: none;
  transition: all 3s ease-in-out;
}

.updated-profile:hover .camera-icon {
  display: flex !important;
}

.updated-profile:hover::after {
  display: flex !important;
}

.profile-no {
  width: 150px;
  height: 150px;
  background-color: #5daef5;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-no .camera-icon {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 67%;
  font-size: 1.5em;
  color: white;
  z-index: 50;
  display: none;
  transition: all 3s ease-in-out;
}

.profile-no::after {
  content: "";
  position: absolute;
  top: 48.3%;
  transform: translateX(-50%);
  left: 67.9%;
  width: 150px;
  height: 95px;
  background: #1c1c1e;
  border-radius: 150px 150px 20px 20px;
  opacity: 0.4;
  z-index: 50;
  display: none;
  transition: all 3s ease-in-out;
}

.profile-no:hover .camera-icon {
  display: flex !important;
}

.profile-no:hover::after {
  display: flex !important;
}
