progress[value] {
  --color: #0088ff;
  /* the progress color */
  --background: lightgrey;
  /* the background color */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 200px;
  margin: 0 10px;
  border-radius: 10em;
  background: var(--background);
  height: 10px;
}

progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}

progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: var(--color);
}

progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: var(--color);
}
